<div *ngIf="loaded">
    <div *ngIf="notifications.length > 0; else noNotifications" class="container segment container-small mt-4 px-0">
        <div class="list">
            <div class="item" *ngFor="let notification of notifications; let i = index" [ngClass]="{ active: !notification.read }">
                <div *ngIf="notification.user | async; let user" class="d-flex align-items-center">
                    <a [routerLink]="'/profile/' + user.id">
                        <img [src]="user.avatar" alt="" class="image avatar small mr-2">
                    </a>
                    <div class="ml-2 d-flex flex-column">
                        <div>
                            <a [routerLink]="'/profile/' + user.id" class="author">{{ user.username }}</a>
                            <span *ngIf="isCommentNotification(notification)">
                                has commented your
                                <a [routerLink]="'/snippets/' + notification.snippetId">{{ notification.snippetName }}</a> snippet.
                            </span>
                            <span *ngIf="isLikeNotification(notification)">
                                has liked your
                                <a [routerLink]="'/snippets/' + notification.snippetId">{{ notification.snippetName }}</a> snippet.
                            </span>
                            <span *ngIf="isRequestNotification(notification)">
                                <span>
                                    has developed your
                                    <a [routerLink]="'/snippets/' + notification.snippetId">{{ notification.snippetName }}</a> snippet in a new code.
                                </span>
                                <a href="#" (click)="seeRequest(notification, $event)" class="ml-1">See request</a>
                            </span>
                        </div>
                        <span class="meta">{{ notification.date | amTimeAgo }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noNotifications>
        <div class="container my-5 meta">
            <h1 class="display-4 text-center"><i class="fa fa-bell-o" aria-hidden="true"></i></h1>
            <div class="text-center">You don't have notifications for the moment</div>
        </div>
    </ng-template>
</div>
