<div class="container mt-4">
    <div class="row">
        <div class="col segment p-4">
            <div class="row">
                <div class="col">
                    <h1 class="h3">Trim </h1>
                    <div class="text color meta mr-3">2 days ago</div>
                </div>
                <div class="col">
                    <div class="float-right d-flex align-items-center">
                        <img src="/assets/images/unknown.jpg" alt="" class="image avatar">
                        <span class="ml-1">John Doe</span>
                    </div>
                </div>
            </div>
            <div class="row py-3">
                <div class="col">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vehicula purus id eleifend elementum. Cras tempor nisl rutrum, rhoncus erat quis, mollis odio. Quisque vehicula, massa at porta dictum, ipsum libero sollicitudin dui, quis porta sem tortor eget magna. Vestibulum ut diam dui. Etiam vel lacus turpis.
                </div>
            </div>
            <div class="row">
                <div class="col unselectable">
                    <span class="h4 clickable" (click)="like()">
                        <i class="fa" [ngClass]="liked ? 'fa-heart' : 'fa-heart-o'" aria-hidden="true"></i>
                        <span class="ml-1">{{ likes }}</span>
                    </span>
                    <span class="h4 clickable" (click)="focusComment()">
                        <i class="fa fa-comment-o ml-2" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <div class="row my-3">
                <div class="col-3">
                    <select class="form-control" id="language">
                        <option>JS</option>
                        <option>C#</option>
                        <option>Java</option>
                        <option>PHP</option>
                        <option>GO</option>
                    </select>
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    ...code...
                </div>
            </div>
            <hr class="w-100 mt-2">
            <div>
                <textarea id="comment" class="flat not-resizable as-input" placeholder="Add a comment..."></textarea>
            </div>
            <app-comments [comments]="comments"></app-comments>
        </div>
    </div>
</div>
