<div *ngIf="!hideLanguage" class="d-flex mb-4">
    <ng-select [active]="code.language.value ? [code.language] : null"
        [items]="languages"
        (selected)="changeLanguage($event)"
        placeholder="Search a language"
        class="mr-3"
        style="width: 230px">
    </ng-select>
</div>
<div>
    <codemirror #codemirror
        [(ngModel)]="code.code"
        [config]="config">
    </codemirror>
    <div *ngIf="withAuthor" class="mt-3">
        <div *ngIf="code.author | async; let author" class="d-flex align-items-center meta">
            code by
            <img [src]="author.avatar" alt="" class="image avatar ml-2">
            <a [routerLink]="'/profile/' + author.id" class="author">{{ author.username }}</a>
        </div>
    </div>
</div>
