@import '../../../assets/styles/variables';

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;

    a {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 13px;
    }
}
