<footer class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-12 mb-2">
                <a *ngIf="false" href="#" class="mr-4">About Us</a>
                <a href="mailto:contact@sniphub.io" class="mr-4">Contact</a>
                <a *ngIf="false" href="#">conditions</a>
            </div>
            <div class="col-sm-4 col-12 mb-2 text-right text color meta uppercased">
                &copy; {{ currentYear() }} SnipHub
            </div>
        </div>
        <!-- <div class="row">
            <div class="col text-center text color meta uppercased">
                &copy; {{ currentYear() }} SnipHub
            </div>
        </div> -->
    </div>
</footer>
