<footer class="container-fluid">
    <div class="container">
        <div *ngIf="false" class="row">
            <div class="col-sm-8 col-12 mb-2">
                <a href="#" class="mr-4">About Us</a>
                <a routerLink="contact" class="mr-4">Contact Us</a>
                <a href="#">conditions</a>
            </div>
            <div class="col-sm-4 col-12 mb-2 text-right text color meta uppercased">
                &copy; 2017 SnipHub
            </div>
        </div>
        <div class="row">
            <div class="col text-center text color meta uppercased">
                &copy; {{ currentYear() }} SnipHub
            </div>
        </div>
    </div>
</footer>
