@import '../../../assets/styles/variables';

.content-main {
    height: 120px;

    @media screen and(max-width: $screen-md) {
        height: 135px;
    }

    @media screen and(max-width: $screen-sm) {
        height: 160px;
    }

    @media screen and(max-width: $screen-xs) {
        height: auto;
    }
}
