<div *ngIf="editing" class="container mt-4">
    <app-back-link></app-back-link>
</div>
<div *ngIf="loaded && snippet" class="container segment mt-4">
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1 *ngIf="!editing;else headerEdit" class="h2">Create a new snippet</h1>
            <ng-template #headerEdit>
                <h1 class="h2">Editing the snippet
                    <span class="text color primary">{{ snapshot.name }}</span>
                </h1>
            </ng-template>
            <span class="text color meta">A snippet contains a small region of re-usable source code available in one or many languages.</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input-counter [(ngModel)]="snippet.name" [disabled]="saving" placeholder="Name of the snippet" [minlength]="minLengthName"
                    [maxlength]="maxLengthName" className="input" [ngClass]="{ invalid: errors.name }" required></input-counter>
                <div #errorName [hidden]="!errors.name" class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle text bold" aria-hidden="true"></i>
                    {{ errors.name }}
                </div>
            </div>
            <div class="form-group">
                <input-counter [(ngModel)]="snippet.description" [disabled]="saving" placeholder="Short snippet description (optional)" className="input"></input-counter>
            </div>
            <div class="mt-5">
                <div [hidden]="!editing">
                    <div [hidden]="codes.length === 0">
                        <h2 class="h4">Edit the languages codes to your snippet</h2>
                        <div class="text color meta mb-3">You can edit your snippet codes all the time.</div>
                        <hr>
                        <app-code-block [(codes)]="codes" deleteOption="true" [snippet]="snippet"></app-code-block>
                    </div>
                    <hr class="my-3">
                    <h4>Add a new code language to your snippet</h4>
                    <div class="text color meta mb-3">You can supplement your snippet all the time.</div>
                    <app-add-code [snippet]="snippet" [(codes)]="newCodes"></app-add-code>
                </div>
                <div [hidden]="editing">
                    <h2 class="h4">Add a new code language to your new snippet</h2>
                    <div class="text color meta mb-3">You can supplement your snippet all the time.</div>
                    <hr>
                    <app-add-code [(codes)]="newCodes" infiniteCode="true" min="1"></app-add-code>
                </div>
                <div #errorCode class="my-3">
                    <div *ngIf="!errors.code" class="alert alert-info">
                        <i class="fa fa-info" aria-hidden="true"></i> Codes without any text or language selected won't be pushed.
                    </div>
                    <div *ngIf="errors.code" class="alert alert-danger">
                        <i class="fa fa-times" aria-hidden="true"></i> {{ errors.code }}
                    </div>
                </div>
            </div>
            <hr class="my-4">
            <div class="mb-3">
                <button class="btn primary outlined" (click)="save()" [disabled]="saving">Save</button>
            </div>
            <div *ngIf="errors.global" class="mb-3">
                <div class="alert alert-danger">
                    <i class="fa fa-exclamation-triangle text bold" aria-hidden="true"></i>{{ errors.global }}.
                </div>
            </div>
        </div>
    </div>
</div>
