<div class="container segment mt-4">
    <div class="row mt-4 mb-3">
        <div class="col">
            <h1 class="h2">Contact us</h1>
            <span class="text color meta">If you have any question or problem to report, you can contact us.</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <input type="text" placeholder="Name">
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <input type="email" placeholder="Email">
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <input type="text" placeholder="Subject">
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <textarea rows="5" type="text" placeholder="Description"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="form-group col">
            <button class="btn primary outlined">Send</button>
        </div>
    </div>
</div>
