@import '../../assets/styles/variables';

nav#main-navbar {
    background-color: $primary-color;
    padding: 1rem;

    a {
        color: #fff;
    }

    .container {
        @media screen and(max-width: $screen-sm) {
            margin: 0 !important;
            max-width: 100%;
            width: 100%;
        }
    }
}
