<!--<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <div class="container">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleContainer" aria-controls="navbarsExampleContainer" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Snipz</a>

      <div class="collapse navbar-collapse" id="navbarsExampleContainer">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Regex</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Snippets</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-md-0">
          <input class="form-control mr-sm-4" type="text" placeholder="Search">
        </form>
        <button *ngIf="!isAuthenticated" class="btn btn-outline-success my-2 my-sm-0" (click)="logIn()" >Log In</button>
        <a class="navbar-brand" href="#" *ngIf="isAuthenticated">{{name}}</a>
        <button *ngIf="isAuthenticated" class="btn btn-outline-danger my-2 my-sm-0" (click)="logOut()">Log Out</button>
      </div>
    </div>
  </nav>-->
