<nav id="main-navbar" *ngIf="displayed" class="navbar">
    <div class="container">
        <div class="row">
            <div class="col-md-1 col-3">
                <a class="navbar-brand" routerLink="/">Snipz</a>
            </div>
            <div class="col-md-8 col-6">
                <form class="form-inline my-2 my-md-0 input-icon">
                    <input type="text" class="backgrounded" placeholder="I don't want code...">
                    <i class="icon fa fa-search" aria-hidden="true"></i>
                </form>
            </div>
            <div class="col-md-3 col-3 d-flex align-items-center">
                <a routerLink="signin" (click)="logIn()">Log In</a>
                <i *ngIf="isAuthenticated" class="fa fa-user-o icon-menu" aria-hidden="true"></i>
            </div>
        </div>
    </div>
</nav>
