@import '../../assets/styles/variables';

#main-navbar {
    background-color: $primary-color;
    padding: 1rem;
    border-bottom: 1px solid rgba(0,0,0,.0975);

    a {
        color: #fff;
    }

    .icon-menu {
        font-size: 23px;
        color: #fff;
    }
}
