<div class="container">
    <form class="form-signin">
        <div class="row mt-4">
            <div class="col-md-12">
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            </div>
        </div>
        <div class="row row-line">
            <div class="col-md-5 line">
            </div>
            <div class="col-md-2 line-text">
                Or
            </div>
            <div class="col-md-5 line">
            </div>
        </div>
        <div class="row social-connect">
            <div class="col-md-12">
                <button type="button" class="btn btn-facebook">
                    <i class="fa fa-facebook-square fa-2" aria-hidden="true"></i>Connect with Facebook
                </button>
                 <button type="button" class="btn btn-google">
                    <i class="fa fa-google-plus-square fa-2" aria-hidden="true"></i>Connect with Google
                </button>
            </div>
        </div>
    </form>
</div>
