<div>
    <div *ngFor="let code of codes;let i = index" [ngClass]="asRequest ? '' : 'mb-2'">
        <app-code-block [code]="code"></app-code-block>
        <div class="d-flex align-items-center mt-3 mb-2">
            <button *ngIf="asRequest" class="btn outlined primary mr-3" (click)="request(code)">Request</button>
            <button class="btn outlined danger" (click)="remove(code)">Remove</button>
        </div>
        <div *ngIf="(codes.length > 1 && i+1 < codes.length) || asRequest" class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
    <button (click)="add()" class="btn outlined" [ngClass]="asRequest ? '' : 'mt-2'" aria-hidden="true">Add new code</button>
</div>
