.form-signin {
    h2{
        text-align: center;
    }

    .row-line{
        max-width: 330px;

        .line-text {
            font-size: 13px;
            text-align: center;
        }

    }

    .social-connect {
        .btn {
            display: flex;
            align-items: center;
            justify-content: center;

            .fa {
                font-size: 19px;
                margin-right: 1rem;
            }

            &.github,
            &.facebook,
            &.google {
                font-size: 16px;
                padding: 12px 24px;
            }
        }
    }
}
