<div class="container mt-4">
    <div class="row">
        <div class="col segment padded">
            <form class="form-signin">
                <div class="row">
                    <div class="col">
                        <h1 class="h2">Sign in to join our community</h1>
                        <div class="text color meta mb-3">You can choose one of the following proviers to sign in.</div>
                    </div>
                </div>
                <!--<div class="row">

                    <div class="col-12 mt-2">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input type="email" id="inputEmail" placeholder="Email address" required="" autofocus="">
                    </div>
                    <div class="col-12 mt-2">
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input type="password" id="inputPassword" placeholder="Password" required="">
                    </div>
                    <div class="col-12 mt-2">
                        <div class="checkbox">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" value="remember-me">
                                <span class="custom-control-indicator"></span>
                                <span class="d-inline-block ml-2">Remember me</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <button class="btn btn-primary btn-block" (click)="login()">Sign in</button>
                    </div>
                </div>
                <div class="row row-line mx-auto py-4">
                    <div class="col line">
                    </div>
                    <div class="col-2 line-text">
                        Or
                    </div>
                    <div class="col line">
                    </div>
                </div>-->
                <div class="row social-connect">
                    <div class="col-md-6 col-12 my-1">
                        <button (click)="githubLogin()" class="btn github w-100">
                            <i class="fa fa-github-square fa-2" aria-hidden="true"></i>Sign in with GitHub
                        </button>
                    </div>
                    <!-- <div class="col-md-4 col-12 my-1">
                        <button (click)="googleLogin()" class="btn google w-100">
                            <i class="fa fa-google-plus-square fa-2" aria-hidden="true"></i>Connect with Google
                        </button>
                    </div> -->
                    <div class="col-md-6 col-12 my-1">
                        <button (click)="facebookLogin()" class="btn facebook w-100">
                            <i class="fa fa-facebook-square fa-2" aria-hidden="true"></i>Sign in with Facebook
                        </button>
                    </div>
                </div>
                <!-- <div *ngIf="!inError;else errorMessage" class="row mt-3">
                    <div class="col">
                        <div class="alert alert-info mb-0"><i class="fa fa-info-circle text bold" aria-hidden="true"></i>If you share the same email address between two or more providers, yours accounts will be linked.</div>
                    </div>
                </div> -->
                <ng-template #errorMessage>
                    <div class="row mt-3">
                        <div class="col">
                            <div class="alert alert-danger mb-0">
                                <i class="fa fa-exclamation-triangle text bold" aria-hidden="true"></i>{{ error }}.
                            </div>
                        </div>
                    </div>
                </ng-template>
            </form>
        </div>
    </div>
    <!--<div class="row">
        <div class="col segment mt-2 py-2 text-center">
            <p>
                Don't have an account? <a routerLink="/signup">Sign Up </a>
            </p>
        </div>
    </div>-->
</div>
