<header>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-1 col-0 order-1"></div>
                <div class="col-xl-1 order-2 col-md-2 col-3 d-flex align-items-center">
                    <a class="navbar-brand link white py-0" routerLink="/">SnipHub</a>
                </div>
                <div class="col-xl-2 col-md-3 col-9 order-md-4 order-3 pl-0 d-flex align-items-center justify-content-end">
                    <app-header-icons-actions></app-header-icons-actions>
                </div>
                <div class="col-xl-7 col-md-7 order-md-3 order-4 col-12 d-flex align-items-center search-col">
                    <div class="input-icon medium">
                        <input #searchInput
                            type="text"
                            class="unbordered backgrounded"
                            id="main-search-input"
                            tabindex="1"
                            placeholder="I don't want to code..."
                            (keyup)="updateSearch(searchInput.value)"
                            (keyup.enter)="search(searchInput.value)"
                            (focus)="toggleSearch(searchInput.value)"
                            (blur)="toggleSearch(searchInput.value)"
                            [ngClass]="searchEnabled ? '' : 'dark-primary clickable'">
                        <i class="fa fa-search icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div *ngIf="!hasNetworkConnection" id="offline-wrapper">
        The application is currently offline
    </div>
</header>
