<div class="comments">
    <div *ngFor="let comment of comments">
        <div *ngIf="comment.author | async; let author" class="comment">
            <div class="profile">
                <img [src]="author.avatar" alt="avatar" class="image avatar">
            </div>
            <div class="content">
                <div class="header">
                    <a [routerLink]="'/profile/' + author.id" class="author">{{ author.username }}</a>
                    <span class="date ml-2">{{ comment.date | amTimeAgo }}</span>
                </div>
                <div class="comment-content">
                    {{ comment.content }}
                </div>
            </div>
        </div>
    </div>
</div>
