<div *ngIf="loaded && snippet" class="container segment mt-4">
    <div class="row mt-4 mb-2">
        <div class="col">
            <h1 *ngIf="!editing;else headerEdit" class="h2">Create a new snippet</h1>
            <ng-template #headerEdit>
                <h1 class="h2">Editing the snippet <span class="text color primary">{{ snapshot.name }}</span></h1>
            </ng-template>
            <span class="text color meta">A snippet contains a small region of re-usable source code available in one or many languages.</span>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" [(ngModel)]="snippet.name" placeholder="Name">
            </div>
            <div class="form-group">
                <input type="text" [(ngModel)]="snippet.description" placeholder="Description (optional)">
            </div>
            <div class="mt-4">
                <app-add-code *ngIf="!editing" [(codes)]="codes"></app-add-code>
                <app-code-block *ngIf="editing" (onChangeCodeBlock)="codeBlockChange($event)" [languages]="languages" [(code)]="code"></app-code-block>
            </div>
            <hr class="my-4">
            <div class="mb-3">
                <button class="btn primary outlined">Save</button>
            </div>
        </div>
    </div>
</div>
