<div *ngIf="loaded" class="container segment container-small mt-4 py-2">
    <div *ngFor="let request of requests;let i = index">
        <div class="row py-2">
            <div class="col">
                <div class="d-flex align-items-center">
                    <a [routerLink]="'/profile/' + request.user.id" class="author d-flex align-items-center mr-1">
                        <img [src]="request.user.avatar" alt="" class="image avatar mr-2">
                        <span>{{ request.user.username }}</span>
                    </a>
                    <span>has added a new language code for your snippet</span>
                    <span class="ml-1">
                        <a [routerLink]="'/snippet/' + request.snippet.id">{{ request.snippet.name }}</a>
                    </span>
                </div>
                <div class="mt-2">
                    <a [routerLink]="'/snippets/requests/' + request.id" class="btn outlined">See request</a>
                </div>
            </div>
        </div>
        <div *ngIf="i < requests.length - 1" class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
</div>
