<div *ngIf="user" class="container mt-4">
	<div class="row">
        <div class="col">
            <div class="d-flex justify-content-center align-items-center">
                <div class="d-flex justify-content-center mr-5">
                    <div *ngIf="ownProfile();else normalAvatar" class="image-group avatar" (click)="syncAvatar()">
                        <img #avatar [src]="user.avatar" alt="" class="image avatar large">
                        <div class="caption icon centered">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </div>
                    </div>
                    <ng-template #normalAvatar>
                        <img #avatar [src]="user.avatar" alt="" class="image avatar large">
                    </ng-template>
                </div>
                <div>
                    <h3 *ngIf="!ownProfile() || (ownProfile() && !editing)" (click)="setUsernameEditable()" class="mr-4" [ngClass]="{ editable: ownProfile(), clickable: ownProfile() }">{{ user.username }}</h3>
                    <input #username [hidden]="!editing" type="text" class="username-input h3 mb-3" (blur)="editUsername()" (keyup.enter)="editUsername()" [(ngModel)]="user.username" autofocus>
                    <div class="h5 unselectable">
                        <div class="d-flex align-items-center text color meta">
                            <span>
                                <i class="fa fa-heart-o" aria-hidden="true"></i>
                                <span class="ml-1">{{ (likes | async)?.length || 0 }}</span>
                            </span>
                            <span tooltip="Languages availables for the snippet">
                                <i class="fa fa-code ml-2" aria-hidden="true"></i>
                                <span class="ml-1">{{ (codes | async)?.length || 0 }}</span>
                            </span>
                        </div>
                    </div>
                    <div *ngIf="ownProfile()" class="mt-2">
                        <a href="#" class="link meta" (click)="signOut($event)">
                            <i class="fa fa-sign-out" aria-hidden="true"></i> Sign out
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="ownProfile() && containsRequestsNotifications()" class="col-12 mt-4 clickable" (click)="goToRequests()">
            <div class="d-block alert alert-info mb-0 d-flex align-items-center" role="alert">
                <span><i class="fa fa-bell-o"></i> You have awaiting code requests for your snippets.</span>
                <a routerLink="/requests" class="alert-link ml-1">See requests</a>
            </div>
        </div>
        <div *ngIf="snippetsLoaded; else loadingSnippets" class="col-12 pt-5">
            <div *ngIf="authorSnippets.length > 0 || contributorSnippets.length > 0;else noSnippets">
                <div class="row">
                    <div class="col">
                        <h3>Author</h3>
                        <hr>
                    </div>
                </div>
                <div *ngIf="ownProfile()" class="row pt-2 pb-4">
                    <div class="col">
                        <a class="btn outlined primary medium" routerLink="/snippets/new">Create new snippet</a>
                    </div>
                </div>
                <app-snippets-list [snippets]="authorSnippets"></app-snippets-list>
                <div class="row mt-5 mb-3">
                    <div class="col">
                        <h3>Contributor</h3>
                        <hr>
                    </div>
                </div>
                <app-snippets-list [snippets]="contributorSnippets"></app-snippets-list>
            </div>
            <ng-template #noSnippets>
                <div class="meta">
                    <h1 class="display-4 text-center"><i class="fa fa-code" aria-hidden="true"></i></h1>
                    <div *ngIf="ownProfile();else noSnippetsExternalProfile">
                        <div class="text-center">You don't have created or contributed to snippets for the moment</div>
                        <div class="text-center mt-3">
                            <a class="btn outlined primary medium" routerLink="/snippets/new">Create your first snippet</a>
                        </div>
                    </div>
                    <ng-template #noSnippetsExternalProfile>
                        <div class="text-center">{{ user.username }} doesn't have created or contributed to snippets for the moment</div>
                    </ng-template>
                </div>
            </ng-template>
        </div>
        <ng-template #loadingSnippets>
            <div class="col-12 d-flex justify-content-center my-5">
                <app-loader></app-loader>
            </div>
        </ng-template>
	</div>
</div>
