@import '../../../assets/styles/variables';

img.image.avatar {
    @media screen and(max-width: $screen-xs) {
        width: 100px;
        height: 100px;
        min-width: 100px;
        min-height: 100px;
    }
}
