<div>
    <div *ngFor="let code of codes; let i = index;" [ngClass]="asRequest ? '' : 'mb-2'">
        <app-code-block *ngIf="!asRequest || infiniteCode || (asRequest && !requested)" [(code)]="codes[i]"></app-code-block>
        <div class="d-flex align-items-center mt-3 mb-2">
            <button *ngIf="(!asRequest || infiniteCode || (asRequest && codes.length < 1)) && i === codes.length - 1" (click)="add()" class="btn outlined mr-3" aria-hidden="true">Add new code</button>
            <button *ngIf="asRequest && !requested" class="btn outlined primary mr-3" (click)="request(code)">Request</button>
            <button *ngIf="!requested && i >= min" class="btn outlined danger" (click)="confirmRemove(code)">Remove</button>
            <div *ngIf="requested && requestedSuccessfully" class="alert alert-success w-100 mb-0" role="alert">
                <i class="fa fa-check" aria-hidden="true"></i> Your code request has been sent successfully. <a href class="alert-link" (click)="newRequest($event)">Send another one</a>
            </div>
            <div *ngIf="requested && !requestedSuccessfully" class="alert alert-danger w-100 mb-0" role="alert">
                <i class="fa fa-times" aria-hidden="true"></i> An error occurred during your request, please try again. <a href class="alert-link" (click)="newRequest($event)">Retry</a>
            </div>
        </div>
        <div *ngIf="(codes.length > 1 && i+1 < codes.length) || ((asRequest || infiniteCode) && codes.length < 1)" class="row">
            <div class="col">
                <hr>
            </div>
        </div>
    </div>
    <div [ngClass]="{ 'mb-3': codes.length > 0 && !asRequest }"></div>
    <button *ngIf="(!asRequest || infiniteCode || (asRequest && codes.length < 1)) && codes.length === 0" (click)="add()" class="btn outlined" [ngClass]="asRequest ? '' : 'mt-2'" aria-hidden="true">Add new code</button>
</div>
