<div class="container">
    <div class="row justify-content-center">
        <div class="col text-center">
            <img src="/assets/images/404.png" alt="not found" class="image">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h1 class="h5 text-center">
                <span>The link you followed may be broken, or the page may have been removed.</span>
                <a routerLink="/" class="d-block mt-3">Go back to SnipHub</a>
            </h1>
        </div>
    </div>
</div>
