<div *ngIf="user" class="container mt-4">
	<div class="row">
        <div class="col-12">
            <div class="user-details">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-4">
                        <img #avatar [src]="user.avatar" alt="" class="image avatar large">
                    </div>
                    <div class="col-lg-6 col-md-5 col-sm-8 col-8 user-info d-flex align-items-center">
                        <div class="row">
                            <div class="col-12 d-flex align-items-center">
                                <h3 class="mr-4">{{ user.username }}</h3>
                                <div *ngIf="ownProfile()">
                                    <div class="btn-group" dropdown>
                                        <i dropdownToggle class="fa fa-cog clickable font-icon huge" aria-hidden="true"></i>
                                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                                            <li class="clickable" role="menuitem"><a class="dropdown-item" routerLink="/profile/edit">Edit profile</a></li>
                                            <li class="clickable" role="menuitem"><a class="dropdown-item" (click)="signOut()">Sign out</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 h5 unselectable">
                                <div class="text color meta">
                                    <span>
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                        <span class="ml-1">3350</span>
                                    </span>
                                    <span tooltip="Languages availables for the snippet">
                                        <i class="fa fa-code ml-2" aria-hidden="true"></i>
                                        <span class="ml-1">5</span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
	        </div>
        </div>
        <div *ngIf="ownProfile() && containsRequestsNotifications()" class="col-md-8 col-12 mt-4 clickable" (click)="goToRequests()">
            <div class="d-block alert alert-info mb-0 d-flex align-items-center" role="alert">
                <span><i class="fa fa-bell-o"></i> You have awaiting code requests for your snippets.</span>
                <a routerLink="/snippets/requests" class="alert-link ml-1">See requests</a>
            </div>
        </div>
        <div *ngIf="snippets.length > 0;else noSnippets" class="col-12 mt-4">
            <div class="row">
                <div class="col">
                    <h3>Authors</h3>
                </div>
            </div>
            <div *ngIf="ownProfile()" class="my-3">
                <a class="btn outlined" routerLink="/snippet/new">New snippet</a>
            </div>
            <app-snippets-list [snippets]="snippets"></app-snippets-list>
            <div class="row mt-3 mb-3">
                <div class="col">
                    <h3>Contributors</h3>
                </div>
            </div>
            <app-snippets-list [snippets]="snippets"></app-snippets-list>
        </div>
        <ng-template #noSnippets>
            <div class="col-12 my-5 meta">
                <h1 class="display-4 text-center"><i class="fa fa-code" aria-hidden="true"></i></h1>
                <div class="text-center">You don't have created or contributed to snippets for the moment</div>
                <div class="text-center mt-3">
                    <a class="btn outlined" routerLink="/snippet/new">Create your first snippet</a>
                </div>
            </div>
        </ng-template>
	</div>
</div>
