.user-details{
    .user-image{
        img{
            border-radius: 500rem;
        }
    }
    .user-info{
        .btn{
            background-color: transparent;
            border-color: #757575;
            color: black;
        }
    }
}
