@import '../../../assets/styles/variables';

.editprofile {
    .menu {
        border-right: 1px solid $medium-light-color;

        .tabs {
            a {
                cursor: pointer;

                &.active {
                    border-left: 2px solid  black;
                    font-weight: bold;
                }
            }
        }
    }
}
