@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i');
@import '../node_modules/bootstrap/scss/bootstrap';
@import 'assets/styles/index';

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100%;
    margin-bottom: 110px;
}

html, body {
    background-color: $light-color;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: $default-font-size;
    font-weight: 400;
}

p {
    margin: 0;
}
