@import '../node_modules/bootstrap/scss/bootstrap';
@import 'assets/styles/index';

html, body {
    background-color: $light-color;
    font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

p {
    margin: 0;
}
