@import 'variables';

.badge {
    display: inline-block;
    vertical-align: baseline;
    min-width: 2em;
    min-height: 2em;
    padding: .5em!important;
    line-height: 1em;
    text-align: center;
    border-radius: 500rem;
    background-color: $light-grey-color;
    color: $light-default-color;
    font-size: inherit;
    transition: all .1s ease;

    &.inverted {
        background-color: $medium-light-color;
        color: $default-color;
    }

    &:hover {
        background-color: $medium-light-color;
        color: $default-color;

        &.inverted {
            background-color: $light-grey-color;
            color: $light-default-color;
        }
    }
}
