@import 'variables';

.btn {
    border-radius: 3px;

    &:disabled:hover {
        cursor: not-allowed;
    }

    font-family: inherit;
    min-width: 90px;
    padding: 0.5rem 1rem;
    line-height: inherit;
    transition: all .3s;

    &:hover {
        cursor: pointer;
    }

    &.outlined {
        background-color: transparent;
        border-color: #757575;
        color: black;

        &:hover {
            border-color: black;
        }
    }

    &.btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: $dark-primary-color;
        }
    }

    &.danger {
        border-color: $danger-color;
        color: $danger-color;

        &:hover {
            border-color: $dark-danger-color;
            color: $dark-danger-color;
        }
    }

    &.success {
        border-color: $success-color;
        color: $success-color;

        &:hover {
            border-color: $dark-success-color;
            color: $dark-success-color;
        }
    }

    &.primary {
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
            border-color: $darker-primary-color;
            color: $darker-primary-color;
        }
    }
}
