@import 'variables';

.btn {
    font-family: inherit;
    min-width: 90px;

    &:hover {
        cursor: pointer;
    }

    &.btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: $dark-primary-color;
        }
    }

    &.danger {
        border-color: $danger-color !important;
        color: $danger-color !important;
    }

    &.primary {
        border-color: $primary-color !important;
        color: $primary-color !important;
    }

    &.outlined {
        background-color: transparent;
        border-color: #757575;
        color: black;
    }
}
