@import 'variables';

.btn {
    border-radius: 3px;

    &:disabled:hover {
        cursor: not-allowed;
    }

    font-family: inherit;
    min-width: 90px;
    padding: 0.5rem 1rem;
    line-height: inherit;
    transition: all .3s;

    &:hover {
        cursor: pointer;
    }

    &.outlined {
        background-color: transparent;
        border-color: #757575;
        color: black;

        &:hover {
            border-color: black;
            background-color: $light-color !important;
        }
    }

    &.btn-primary {
        background-color: $primary-color;

        &:hover {
            background-color: $dark-primary-color !important;
        }
    }

    &.danger {
        border-color: $danger-color;
        color: $danger-color;

        &:hover {
            border-color: $dark-danger-color;
            color: $dark-danger-color;
        }
    }

    &.success {
        border-color: $success-color;
        color: $success-color;

        &:hover {
            border-color: $dark-success-color;
            color: $dark-success-color;
        }
    }

    &.primary {
        border-color: $primary-color;
        color: $primary-color;

        &:hover {
            border-color: $darker-primary-color;
            color: $darker-primary-color;
        }
    }


    &.facebook{
        background-color: #0288D1;
        color: #fff;

        &:hover{
            background-color:#0277BD;
        }
    }

    &.google{
        background-color: #E64A19;
        color: #fff;

        &:hover {
            background-color: #D84315;
        }
    }

    &.github{
        background-color: #616161;
        color: #fff;

        &:hover {
            background-color: #424242;
        }
    }

    &.medium {
        font-size: 17px;
    }

    &.large {
        font-size: 25px;
        border-width: 2px;
    }

    &.link {
        background: none;
        margin: 0;
        padding: 0;
        min-width: auto;
    }
}
