@import 'variables';

.CodeMirror {
    border-radius: 0 0 3px 3px;
    background-color: $code-editor-theme-color !important;
}

.languages-block {
    background-color: $code-editor-theme-color !important;
    border-radius: 3px 3px 0 0;
    width: 100%;
    display: block;
    color: #fff !important;

    input,
    span {
        color: #fff !important;
        border-radius: 0 !important;
    }

    span,
    div,
    input {
        background-color: transparent !important;
        border: none !important;
        transition: none !important;

        &:hover,
        &:focus {
            border: none !important;
            background-color: transparent !important;
        }
    }
}
