@import 'variables';

.text {
    &.color {
        &.default {
            color: $default-color;
        }
        &.white {
            color: #fff;
        }
        &.primary {
            color: $primary-color;
        }
        &.secondary {
            color: $secondary-color;
        }
        &.light {
            color: $light-color;
        }
        &.meta {
            color: $dark-grey-color;
        }
        &.danger {
            color: $danger-color;
        }
    }
}

.background {
    &.color {
        &.default {
            background-color: $default-color;
        }
        &.white {
            background-color: #fff;
        }
        &.primary {
            background-color: $primary-color;
        }
        &.secondary {
            background-color: $secondary-color;
        }
        &.light {
            background-color: $light-color;
        }
        &.none {
            background-color: transparent !important;
        }
    }
}
