.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
    border: none;

    &.avatar {
        margin-right: .25em;
        display: inline-block;
        width: 2rem;
        height: 2rem;
        min-width: 2rem;
        min-height: 2rem;
        border-radius: 20rem;

        &.large {
            width: 130px;
            height: 130px;
            min-width: 130px;
            min-height: 130px;
        }

        &.medium {
            width: 107px;
            height: 107px;
            min-width: 107px;
            min-height: 107px;
        }
    }
}

.icon {
    &.back {
        margin-right: .4rem;
    }
}

.image-group {
    position: relative;

    &.avatar {
        .caption {
            border-radius: 20rem;
        }
    }

    .image {
        transition-property: all;
        transition-duration: 300ms;
    }

    .caption {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        opacity: 0;
        color: #fff;
        transition-property: opacity;
        transition-duration: 300ms;

        &.centered {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &.icon {
            font-size: 26px;
        }
    }

    &:hover {
        cursor: pointer;

        .image {
            -webkit-filter: blur(5px) grayscale(.7);
            filter: blur(5px) grayscale(.7);
        }

        .caption {
            opacity: 1;
        }
    }
}
