.image {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    background-color: transparent;
    border: none;

    &.avatar {
        margin-right: .25em;
        display: inline-block;
        width: 2em;
        height: 2em;
        border-radius: 20rem;

        &.large {
            width: 130px;
            height: 130px;
        }

        &.medium {
            width: 107px;
            height: 107px;
        }
    }
}
