@import 'variables';

input {
    &[type="text"],
    &[type="password"],
    &[type="email"] {
        border-radius: 4px;
        border: 1px solid $grey-color;
        padding: 0.5rem 1rem;
        outline: none;
        width: 100%;
        transition-property: all;
        transition-duration: 300ms;
        font-size: inherit;

        &:focus:not(.unbordered) {
            border: 1px solid $primary-color;
        }

        &.unbordered {
            border: none;
        }

        &.huge {
            font-size: 25px;
            padding: .67rem 1rem;
        }

        &.backgrounded {
            &.light {
                background-color: $light-color;
            }
            &.dark-primary {
                background-color: $dark-primary-color;
            }
        }
    }

    &.form-control.ui-select-search {
        font-family: inherit !important;
    }
}

textarea {
    border-radius: 4px;
    border: 1px solid $grey-color;
    padding: 0.5rem 1rem;
    outline: none;
    width: 100%;
    transition-property: all;
    transition-duration: 300ms;

    &:focus:not(.unbordered):not(.flat) {
        border: 1px solid $primary-color;
    }

    &.unbordered {
        border: none;
    }

    &.huge {
        font-size: 25px;
        padding: .67rem 1rem;
    }

    &.not-resizable {
        resize: none;
    }

    &.flat {
        padding-left: 0;
        padding-right: 0;
        border: none;
    }
}

.input-icon {
    position: relative;

    &.huge {
        input {
            font-size: 25px;
            padding: .67rem 2rem;
            padding-right: 75px;
        }

        .icon {
            font-size: 25px;
            top: 12px;
            right: 25px;
        }
    }

    input {
        padding-right: 35px;
        width: 100% !important;
    }

    .icon {
        position: absolute;
        right: 13px;
        top: 10px;
        color: $dark-grey-color !important;
        pointer-events: none;
    }
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $dark-grey-color;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    $dark-grey-color;
    opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    $dark-grey-color;
    opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:    $dark-grey-color;
}
::-ms-input-placeholder { /* Microsoft Edge */
    color:    $dark-grey-color;
}
