@import 'variables';

.label {
    padding: 3px 10px;
    border-radius: 3px;
    border: 1px solid $default-color;
    border-color: $default-color;
    color: $default-color;
    background-color: transparent;
    display: inline-block;
    text-transform: uppercase;
    font-size: $small-font-size;

    &.success {
        border-color: $success-color;
        color: $success-color;
    }

    &.danger {
        border-color: $danger-color;
        color: $danger-color;
    }

    &.secondary {
        border-color: $grey-color;
        color: $grey-color;
    }
}
