@import 'variables';

a {
    color: $primary-color;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
    }
}

.link {
    color: $primary-color;

    &.default {
        color: $default-color;

        &:hover {
            color: $dark-grey-translucent-color;
        }
    }

    &.white {
        color: #fff;

        &:hover {
            color: $light-color;
        }
    }
    &.meta {
        color: $dark-grey-translucent-color;

        &:hover {
            color: $default-color;
        }
    }
}
