@import 'variables';

a {
    &:hover {
        text-decoration: none;
    }

    &.link {
        &.white {
            color: #fff;

            &:hover {
                color: $light-color;
            }
        }
        &.meta {
            color: $dark-grey-color;

            &:hover {
                color: $default-color;
            }
        }
    }
}
