@import 'variables';

a {
    color: $primary-color !important;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none !important;
        color: $dark-primary-color !important;
    }
}

.link {
    color: $primary-color !important;

    &:hover {
        cursor: pointer;
        color: $dark-primary-color !important;
    }

    &.default {
        color: $default-color !important;

        &:hover {
            color: $dark-grey-translucent-color !important;
        }
    }

    &.white {
        color: #fff !important;

        &:hover {
            color: $light-color !important;
        }
    }
    &.meta {
        color: $dark-grey-translucent-color !important;

        &:hover {
            color: $default-color !important;
        }
    }
}
