@import 'variables';

.list {
    .item {
        padding: 1rem;
        border-bottom: 1px solid $light-grey-color;

        &.active {
            background-color: rgba(225, 225, 225, .3);
        }
    }

    .item:last-child {
        border-color: transparent;
    }
}
