@import 'variables';

.loading {
    height: 3rem;
    width: 3rem;
    animation: rotation 1s infinite linear;
    border: 1px solid $grey-translucent-color;
    border-top-color: $default-color;
    border-radius: 50%;
}

@keyframes rotation {
    to {
        transform: rotate(360deg);
    }
}
