@import 'variables';

.tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $light-blue-color;

    .tab {
        margin: 0 .5rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $disabled-primary-color;
        transition: background-color .3s, opacity .3s;
        border-bottom: 1px solid transparent;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        &:hover {
            cursor: pointer;

            &:not(.active) {
                border-bottom-color: $disabled-primary-color;
            }
        }

        &.active {
            color: $primary-color;
            border-bottom-color: $primary-color;
        }

        &.disabled {
            opacity: .4;

            &:hover {
                cursor: not-allowed;
            }
        }
    }
}
