.bold {
    font-weight: bold;
}

.uppercased {
    text-transform: uppercase;
}

.font-icon {
    &.huge {
        font-size: 25px;
    }
}

.author {
    font-weight: bold !important;
    color: $default-color !important;

    &:hover {
        color: $default-color !important;
    }
}

.meta {
    color: $dark-grey-color;
}
