@import 'variables';

*:focus {
    outline: none !important;
}

.clickable:hover {
    cursor: pointer;
}

.date {
    color: $dark-grey-color;
    font-size: .875em;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.inherit-font-size {
    font-size: inherit;
}

.line {
    background-color: #7f8c8d;
    height: 1px;
    width: 100%;
    flex-shrink:1;
    margin: 10px 0px;
}
