@import '../../../../assets/styles/variables';

.content-main {
    height: 100px;

    @media screen and(max-width: $screen-md) {
        height: 120px;
    }

    @media screen and(max-width: $screen-sm) {
        height: 150px;
    }

    @media screen and(max-width: $screen-xs) {
        height: 100px;
    }
}
