<section class="background color primary pt-4 pb-5">
    <div class="container">
        <div class="row text color white">
            <div id="search-wrapper" class="col">
                <h1 id="input-title" class="mb-3 clickable" (click)="focusSearchInput($event)">I don't want to code</h1>
                <div class="input-icon huge">
                    <input #searchInput
                        (keyup)="search(searchInput.value)"
                        (focus)="toggleSearch()"
                        (blur)="toggleSearch()"
                        [ngClass]="searchEnabled ? '' : 'dark-primary clickable'"
                        id="main-search-input"
                        class="unbordered backgrounded"
                        type="text"
                        placeholder="email regex, clone array...">
                    <i class="fa fa-search icon"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="container mt-4">
    <div *ngIf="!loading; else loadingSnippets">
        <div *ngIf="!searching; else searchView">
            <div class="row mt-4 mb-3">
                <div class="col">
                    <h3>Derniers ajouts</h3>
                </div>
            </div>
            <app-snippets-list [snippets]="snippets"></app-snippets-list>
            <div class="row mt-5 mb-3">
                <div class="col">
                    <h3>Populaires</h3>
                </div>
            </div>
            <app-snippets-list [snippets]="snippets"></app-snippets-list>
        </div>
        <ng-template #searchView>
            <app-search [terms]="searchTerms"></app-search>
        </ng-template>
    </div>
    <ng-template #loadingSnippets>
        <div class="row mt-5">
            <div class="col d-flex justify-content-center mt-5">
                <app-loader></app-loader>
            </div>
        </div>
    </ng-template>
</section>
