@import '../../assets/styles/variables';

input#main-search-input {
    // background-color: transparent;
    border: none;
    // border-bottom: 1px solid #fff;
    color: #fff;
    padding: 4px 10px;
    border-radius: 6px;
    max-width: 350px;
    font-size: 2rem;
    margin-left: 5px;

    @media screen and(max-width: $screen-xs) {
        margin-left: 0;
    }
}

#search-wrapper {
    @media screen and(max-width: $screen-xs) {
        flex-direction: column;
    }
}
