<section class="background color primary p-5">
    <div class="text color white">
        <div>
            <span>Snipz</span>
            <a routerLink="connect" class="link white float-right">Sign in</a>
        </div>
        <div class="mt-3 d-flex flex-column justify-content-center">
            <div id="main-search" class="input-icon huge">
                <h1 class="text-center h2 d-inline-block mb-3 clickable" (click)="focusSearchInput($event)">I don't want code</h1>
                <input id="main-search-input" class="unbordered backgrounded dark-primary" type="text" placeholder="trim, uppercase...">
            </div>
        </div>
    </div>
</section>
<section class="mt-4">
    <div class="container">
        <!--<div class="row">
            <div class="col" dropdown>
                <span dropdownToggle class="clickable">
                    <i class="fa fa-filter" aria-hidden="true" style="font-size: 20px"></i>
                    <span class="ml-2">{{ filter }}</span>
                </span>
                <div *dropdownMenu class="dropdown-menu" role="menu">
                    <h6 class="dropdown-header">Quick filters</h6>
                    <a class="dropdown-item" href="#" (click)="changeFilter('Snippet', $event)">Snippet</a>
                    <a class="dropdown-item" href="#" (click)="changeFilter('Regex', $event)">Regex</a>
                    <a class="dropdown-item" href="#" (click)="changeFilter('All', $event)">All</a>
                </div>
            </div>
        </div>-->
        <div class="row mt-4">
            <div class="col">
                <h3>Derniers ajouts</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card w-10 clickable" (click)="snippetDetails(1)">
                    <div class="content">
                        <div class="float-right">
                            <img src="/assets/images/unknown.jpg" alt="" class="image avatar">
                            <span class="ml-1">Quentin</span>
                        </div>
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description" style="height: 96px; overflow: hidden;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="content extra">
                        <span>
                            <i class="fa fa-heart-o" aria-hidden="true"></i>
                            <span class="ml-1">3350</span>
                        </span>
                        <span>
                            <i class="fa fa-comment-o ml-2" aria-hidden="true"></i>
                            <span class="ml-1">156</span>
                        </span>
                        <span>
                            <i class="fa fa-code ml-2" aria-hidden="true"></i>
                            <span class="ml-1">5</span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card w-10 clickable">
                    <div class="content">
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description" style="height: 96px; overflow: hidden;">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="content extra">
                        <i class="fa fa-star-o" aria-hidden="true"></i><span class="ml-2">3350</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i><span class="ml-2">5</span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-sm-6 mb-3 d-flex align-items-stretch">
                <div class="card w-100 clickable">
                    <div class="content">
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description" style="height: 96px; overflow: hidden;">
                            <p>Lorem ipsum </p>
                        </div>
                    </div>
                    <div class="content extra">
                        <i class="fa fa-star-o" aria-hidden="true"></i><span class="ml-2">3350</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i><span class="ml-2">5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h3>Populaires</h3>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <div class="card">
                    <div class="content">
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="content extra">
                        <i class="fa fa-star-o" aria-hidden="true"></i><span class="ml-2">3350</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i><span class="ml-2">5</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content">
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="content extra">
                        <i class="fa fa-star-o" aria-hidden="true"></i><span class="ml-2">3350</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i><span class="ml-2">5</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="content">
                        <div class="header">trim</div>
                        <div class="meta">2 days ago</div>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="content extra">
                        <i class="fa fa-star-o" aria-hidden="true"></i><span class="ml-2">3350</span>
                        <i class="fa fa-comment-o" aria-hidden="true"></i><span class="ml-2">5</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
