<div *ngIf="loaded">
    <div *ngIf="notifications.length > 0; else noNotifications" class="container segment container-small mt-4 py-2">
        <div *ngFor="let notification of notifications; let i = index">
            <div class="row py-2">
                <div class="col">
                    <div class="d-flex align-items-center">
                        <a [routerLink]="'/profile/' + notification.user.id" class="author d-flex align-items-center mr-1">
                            <img [src]="notification.user.avatar" alt="" class="image avatar mr-2">
                            <span>{{ notification.user.username }}</span>
                        </a>
                        <div *ngIf="isCommentNotification(notification)">
                             has commented your <a [routerLink]="'/snippet/' + notification.snippet.id">{{ notification.snippet.name }}</a> snippet.
                        </div>
                        <div *ngIf="isLikeNotification(notification)">
                             has liked your <a [routerLink]="'/snippet/' + notification.snippet.id">{{ notification.snippet.name }}</a> snippet.
                        </div>
                        <div *ngIf="isRequestNotification(notification)">
                            <span>has developed your <a [routerLink]="'/snippet/' + notification.snippet.id">{{ notification.snippet.name }}</a> snippet in a new code.</span>
                            <a  [routerLink]="'/snippets/requests/' + notification.request.id" class="ml-1">See request</a>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="i < notifications.length - 1" class="row">
                <div class="col">
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <ng-template #noNotifications>
        <div class="container my-5 meta">
            <h1 class="display-3 text-center"><i class="fa fa-bell-o" aria-hidden="true"></i></h1>
            <div class="text-center">You don't have notifications for the moment</div>
        </div>
    </ng-template>
</div>
