<div class="container container-small">
    <h1 class="h2 text-center">Enter your username</h1>
    <form (submit)="setUsername()">
        <div class="my-4">
            <input [(ngModel)]="username" name="username" type="text" class="input huge text-center" placeholder="John Doe">
            <div *ngIf="error" class="alert alert-danger mt-2">
                <i class="fa fa-times" aria-hidden="true"></i> {{ error }}
            </div>
        </div>
        <button type="submit" class="btn primary outlined w-100" (click)="setUsername()">Continue</button>
    </form>
</div>
