<div class="comments">
    <div *ngFor="let comment of comments" class="comment">
        <div class="profile">
            <img [src]="comment.author.avatar" alt="avatar" class="image avatar">
        </div>
        <div class="content">
            <div class="header">
                <a href [routerLink]="'/profile/'+comment.author.id" class="author">{{ comment.author.username }}</a>
                <span class="date ml-2">{{ comment.date | amTimeAgo }}</span>
            </div>
            <div class="comment-content">
                {{ comment.content }}
            </div>
        </div>
    </div>
</div>
