<div class="container mt-4">
    <app-back-link></app-back-link>
</div>
<div *ngIf="loaded; else loading" class="container segment padded mt-4">
    <div class="row mb-3">
        <div *ngIf="request.snippet | async; let snippet" class="col">
            <div class="d-flex align-items-center">
                <h1 class="h3">{{ snippet.name }}</h1>
            </div>
            <div class="date mr-3">requested {{ snippet.date | amTimeAgo }}</div>
        </div>
        <div class="col">
            <div class="float-right d-flex align-items-center">
                <span class="meta mr-2">Requested by</span>
                <img [src]="author.avatar" alt="" class="image avatar">
                <a [routerLink]="'/profile/' + author.id" class="author ml-1">{{ author.username }}</a>
            </div>
        </div>
    </div>
    <div class="row mt-2 mb-3">
        <div class="col">
            <h2 class="h5">
                Request for
                <span class="text color primary bold">{{ code.language.text }}</span>
                language
            </h2>
            <div *ngIf="currentCode" class="alert alert-warning mt-3 mb-0">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                <span>A code version with this language already exists</span>
            </div>
        </div>
    </div>
    <app-code-block (onChangeCodeBlock)="codeBlockChange($event)" [code]="code" hideLanguage="true" readonly="nocursor"></app-code-block>
    <div *ngIf="currentCode" class="mt-3">
        <h3>Current code version</h3>
        <app-code-block [code]="currentCode" hideLanguage="true" readonly="nocursor"></app-code-block>
    </div>
    <div class="row">
        <div class="col">
            <hr class="my-4">
        </div>
    </div>
    <div class="row">
        <div *ngIf="!accepted && !rejected" class="col">
            <button class="btn outlined success mr-3" (click)="confirmAccept()">Accept</button>
            <button class="btn outlined danger" (click)="confirmReject()">Reject</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div *ngIf="accepted" class="alert alert-success mb-0" role="alert">
                <i class="fa fa-check" aria-hidden="true"></i> You have accepted this code request.
                <a routerLink="/requests" class="alert-link">See others requests</a>
            </div>
            <div *ngIf="rejected" class="alert alert-success mb-0" role="alert">
                <i class="fa fa-times" aria-hidden="true"></i> You have rejected this code request.
                <a routerLink="/requests" class="alert-link">See others requests</a>
            </div>
        </div>
    </div>
</div>
<ng-template #loading>
    <div class="container pt-5">
        <div class="row">
            <div class="col d-flex justify-content-center">
                <app-loader></app-loader>
            </div>
        </div>
    </div>
</ng-template>
